name: unit tests

env:
  CI: True

on: [push]

jobs:
  test-linting:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - uses: actions/setup-node@60edb5dd545a775178f52524783378180af0d1f8 # v4
        with:
          node-version: "17"
          cache: "yarn"
      - run: yarn install --immutable
      - run: yarn run test