name: unit tests

env:
  CI: True

on: [push]

jobs:
  test-linting:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4
        with:
          node-version: "17"
          cache: "yarn"
      - run: yarn install --immutable
      - run: yarn run test