name: unit tests

env:
  CI: True

on: [push]

jobs:
  test-linting:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6
        with:
          node-version: "17"
          cache: "yarn"
      - run: yarn install --immutable
      - run: yarn run test